/* general */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: white;
  height: 100vh;
}

.page-container {
  display: flex;
  padding: 3rem 3rem;
  margin: auto;
  flex-direction: column;
  align-items: center;
  background: rgb(34,193,195);
  background: linear-gradient(16deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media screen and (min-width: 760px) {
  .page-container  {width: 50%}
}

@media screen and (min-width: 1800px) {
  .page-container  {width: 30%}
}

h1 {
  border-radius: 15px;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 0.3rem;
}

button {
  border: 3px dotted black;
  border-radius: 15px;
  background-color: white;
  padding: 0.3rem 0.6rem;
  margin: 0.3rem 0.3rem;
}

button:hover {
  background-color: grey;
}

input[type='text'] {
  border: none;
  border-radius: 15px;
  padding: 0.3rem 0.6rem;
}

input[type='submit'] {
  border-radius: 15px;
  border: 3px dotted black;
  background-color: white;
  padding: 0.3rem 0.6rem;
  margin: 0.3rem 0.3rem;
  width: 5rem;
}

input[type='submit']:hover {
  background-color: grey;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 15px;
}

label {
  margin-bottom: 0.5rem;
}

.text-input {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interaction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 15px;
}

.upload {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.upload button {
  width: 4rem;
}

.download {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.download button {
  width: 5rem;
}

.border {
  border: 3px solid black;
  border-radius: 15px;
  overflow: hidden;
  margin: 1rem 0; 
}

.meme {
  position: relative;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  color: white;
  opacity: 1;
}

.text {
  display: block;
  width: 100%;
  overflow-wrap: break-word;
  margin: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xxx-large;
  text-align: center;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}